In [13]:
def triangle(n):
  i=1
  while i<=n:
    j=1
    while j<=i:
      print(j, "",end="")
      j+=1
    print("")
    i+=1
triangle(5)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [14]:
def triangle(n):
  i=1
  while i<=n:
    j=1
    while j<=i:
      print(i, "",end="")
      j+=1
    print("")
    i+=1
triangle(5)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [15]:
def triangle(n):
  i=1
  while i<=n:
    j=i
    while j>=1:
      print(i, "",end="")
      j-=1
    print("")
    i+=1
triangle(5)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [16]:
def triangle(n):
  i=1
  while i<=n:
    j=i
    while j>=1:
      print(j, "",end="")
      j-=1
    print("")
    i+=1
triangle(5)

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [17]:
def triangle(n):
  i=n
  while i>=1:
    j=i
    while j>=1:
      print(i, "",end="")
      j-=1
    print("")
    i-=1
triangle(5)

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [18]:
def triangle(n):
  i=n
  while i>=1:
    j=i
    while j>=1:
      print(j, "",end="")
      j-=1
    print("")
    i-=1
triangle(5)

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [19]:
def triangle(n):
  i=n
  while i>=1:
    j=1
    while j<=i:
      print(i, "",end="")
      j+=1
    print("")
    i-=1
triangle(5)

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [20]:
def triangle(n):
  i=n
  while i>=1:
    j=1
    while j<=i:
      print(j, "",end="")
      j+=1
    print("")
    i-=1
triangle(5)

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [21]:
def triangle(n):
  k=1
  i=1
  while i<=n:
    j=1
    while j<=i:
      print(k, "",end="")
      k=k+1
      j+=1
    print("")
    i+=1
triangle(4)

1
2 3
4 5 6
7 8 9 10

In [22]:
def triangle(n):
  i=1
  while i<=n:
    j=n
    while j>=i:
      print(i, "",end="")
      j-=1
    print("")
    i+=1
triangle(5)

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [23]:
def triangle(n):
  i=1
  while i<=n:
    j=n
    while j>=i:
      print(j, "",end="")
      j-=1
    print("")
    i+=1
triangle(5)

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [24]:
def triangle(n):
  i=n
  while i>=1:
    j=n
    while j>=i:
      print(i, "",end="")
      j-=1
    print("")
    i-=1
triangle(5)

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [25]:
def triangle(n):
  i=n
  while i>=1:
    j=n
    while j>=i:
      print(j, "",end="")
      j-=1
    print("")
    i-=1
triangle(5)

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [26]:
def triangle(n):
  i=1
  while i<=n:
    j=i
    while j<=n:
      print(i, "",end="")
      j+=1
    print("")
    i+=1
triangle(5)

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [27]:
def triangle(n):
  i=1
  while i<=n:
    j=i
    while j<=n:
      print(j, "",end="")
      j+=1
    print("")
    i+=1
triangle(5)

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

In [28]:
def triangle(n):
  i=n
  while i>=1:
    j=i
    while j<=n:
      print(i, "",end="")
      j+=1
    print("")
    i-=1
triangle(5)

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [29]:
def triangle(n):
  i=n
  while i>=1:
    j=i
    while j<=n:
      print(j, "",end="")
      j+=1
    print("")
    i-=1
triangle(5)

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5